@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Mono';
  background-color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn:active {
  transform: scale(0.96);
}

.btn:focus {
  outline: none;
}
.logout {
  position: absolute;
  top: 0;
  right: 0;
}
.container {
  max-width: 800px;
  position: relative;
}
